Pandas 10분 완성
역자 주 : 본 자료는 10 Minutes to Pandas (하단 원문 링크 참조)의 한글 번역 자료로, 번역은 데잇걸즈2 프로그램 교육생 모두가 함께 진행하였습니다. 데잇걸즈2는 과학기술정보통신부와 한국정보화진흥원이 주관하는 SW여성인재 빅데이터 분석 교육과정으로, 상세한 소개는 페이스북 페이지를 참조 부탁 드립니다.

본 자료의 저작권은 BSD-3-Clause인 점을 참조하여 주세요.

This documentation is a Korean translation material of ‘10 Minutes to Pandas’. Every member of DATAITGIRLS2 program participated in the translation. If you want to know about DATAITGIRLS2 program, please visit DATAITGIRLS2 program’s facebook page.

The copyright conditions of this documentation are BSD-3-Clause.

역자 주 (참조 자료) : 10 Minuts to Pandas 원문, 판다스 개발자의 PyCon Korea 2016 발표 : Keynote, Pandas 10분 완성 원문의 인터넷 강의 영상, Pandas Cheat Sheet

#이 소개서는 주로 신규 사용자를 대상으로 한 판다스에 대한 간략한 소개로, 아래와 같이 구성되어 있습니다. 더 자세한 방법은 Cookbook에서 볼 수 있습니다.

Object Creation (객체 생성)
Viewing Data (데이터 확인하기)
Selection (선택)
Missing Data (결측치)
Operation (연산)
Merge (병합)
Grouping (그룹화)
Reshaping (변형)
Time Series (시계열)
Categoricals (범주화)
Plotting (그래프)
Getting Data In / Out (데이터 입 / 출력)
Gotchas (잡았다!)

# 해당글의출처는  
 [출처](https://dataitgirls2.github.io/10minutes2pandas)는 이곳이며 여기에서 만들어진 쌤플을 주피터 노트북으로 실습한 내용을 작성한 내용입니다.

1. Object Creation (객체 생성)
데이터 구조 소개 섹션을 참조하세요.

Pandas는 값을 가지고 있는 리스트를 통해 Series를 만들고, 정수로 만들어진 인덱스를 기본값으로 불러올 것입니다.

In [8]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [9]:
s = pd.Series([1,3,5,np.nan,6,8])

In [10]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

datetime 인덱스와 레이블이 있는 열을 가지고 있는 numpy 배열을 전달하여 데이터프레임을 만듭니다.

In [11]:
dates = pd.date_range('20130101', periods=6)

In [12]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [14]:
df

                   A         B         C         D
2013-01-01 -0.955584  0.557828  1.873129 -1.109664
2013-01-02 -2.193332  0.000518  1.587504  2.096308
2013-01-03  1.303370  0.893623 -0.288846  0.385639
2013-01-04 -0.700849  0.074800  1.095936  0.992866
2013-01-05  0.905750  0.070542 -0.555522 -1.218383
2013-01-06 -0.173725 -0.602898  0.219678  0.122755

Series와 같은 것으로 변환될 수 있는 객체들의 dict로 구성된 데이터프레임을 만듭니다.

In [15]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [16]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [17]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

#2. Viewing Data (데이터 확인하기)
Basic Section을 참조하세요.

데이터프레임의 가장 윗 줄과 마지막 줄을 확인하고 싶을 때에 사용하는 방법은 다음과 같습니다.

역자 주: 괄호() 안에는 숫자가 들어갈 수도 있고 안 들어갈 수도 있습니다. 숫자가 들어간다면, 윗 / 마지막 줄의 특정 줄을 불러올 수 있습니다. 숫자가 들어가지 않다면, 기본값인 5로 처리됩니다.

예시